.site-header {
  background-color: #fff;
  border-bottom: 1px solid #eef0ef;

  .user {
    .name {
      color: #8c8e8d;
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

.dropdown {
  position: relative;
  z-index: 0;

  &-content {
    display: none;
    position: absolute;
    // min-width: 100%;
    // text-align: right;
    top: calc(100% - 1px);
    right: 0;
    background-color: #fff;
    border: 1px solid #eef0ef;
    padding: 0.4rem 0.8rem;
    border-radius: 2px;
    z-index: 1;
  }

  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}
