button {
  border: none;
  border-radius: 2px;

  &:focus {
    outline: none;
  }
}

.bt {
  &:hover {
    box-shadow: 0 0 20px rgba(#000, 0.1);
  }

  &-main {
    background-color: $blue;
    color: #fff;
    padding: 9px 15px;

    &-border {
      border: 1px solid $blue;
      color: $blue;
      background-color: transparent;
    }
  }

  &-secondary {
    background-color: $purple;

    color: #fff;
    padding: 9px 15px;

    &-border {
      border: 1px solid $purple;
      color: $purple;
      background-color: transparent;
    }
  }

  &-danger {
    color: #fff;
    background-color: $red;

    &-border {
      border: 1px solid $red;
      color: $red;
      background-color: transparent;
    }
  }
}
