.form-control {
  border-radius: 2px;
  border: 1px solid #e3e5e4;
}

input.form-control {
  &:read-only {
    background-color: transparent;
    &:focus {
      box-shadow: none;
      border: 1px solid #e3e5e4;
    }
  }
}

.form-group {
  label {
    color: #131515;
    font-size: 14px;
    line-height: 20px;
    font-weight: 1000;

    &.required {
      position: relative;
      &:after {
        content: "*";
        color: red;
      }
    }
  }
}

.input-group-prepend {
  .input-group-text {
    background-color: transparent;
  }
  & + input {
    border-left: none !important;
    padding-left: 0;
    &:focus {
      box-shadow: none;
      border-color: #ced4da;
    }
  }
}

.checkbox-switcher {
  label {
    position: relative;
    width: 26px;
    height: 14px;
    background: #d1d3d2;
    border-radius: 10px;
    margin: 0;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 2px;
      left: 2px;
      background-color: #fff;
      border-radius: 50%;
      transition: 0.6s ease-in-out;
    }
  }

  input {
    display: none;
    &:checked {
      & + label {
        background: #3c83f4;
        &::before {
          left: calc(100% - 12px);
        }
      }
    }
  }
}
