.custom-data-table {
  table {
    margin-bottom: 0;

  }

  thead {
    background: #eef0ef;
    text-transform: uppercase;
    font-weight: 1000;
    th {
      font-weight: 1000;
      font-size: 10px;
      line-height: 14px;
      border: none;
    }
  }
  tr {
    td {
      vertical-align: middle;
      border-top: none;
      font-size: 12px;
      line-height: 16px;
      img {
        width: 32px;
        height: 32px;
        object-fit: cover;
      }
    }

    &:not(:last-child) {
      td {
        border-bottom: 1px solid #eef0ef;
      }
    }
  }

  .status-hint {
    position: relative;
    z-index: 0;

    .hint-content {
      display: none;
      position: absolute;
      top: calc(100% + 12px);
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      background-color: #071721;
      color: #fff;
      border-radius: 2px;
      padding: 5px 10px;
      font-weight: 500;
      font-size: 10px;
      line-height: 14px;
      &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        top: -6px;
        background-color: #071721;
      }
    }
    &:hover {
      .hint-content {
        display: block;
      }
    }
  }
}
