@font-face {
  font-family: "TT_Hoves_Regular";
  src: url("/assets/fonts/TT Hoves Regular/TT Hoves Regular.eot");
  src: local("☺"),
    url("/assets/fonts/TT Hoves Regular/TT Hoves Regular.woff") format("woff"),
    url("/assets/fonts/TT Hoves Regular/TT Hoves Regular.ttf")
      format("truetype"),
    url("/assets/fonts/TT Hoves Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.ff-bold {
  font-weight: 1000;
}

.fs-14 {
  font-size: 14px;
  line-height: 20px;
}
.fs-16 {
  font-size: 16px;
  line-height: 22px;
}
.fs-20 {
  font-size: 20px;
  line-height: 32px;
}
